@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@font-face {
font-family: "Harabara";
src: url("Harabara.otf");
}
.first{
  height:70vh;
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
   background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: #505962;
}
.nextthing{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 90px;
  color: #505962;
  height: 0.5px;
  background-color: #505962;
}
/*==================price=================*/
/* .priceone{
  width: 350px;
  height:850px;
  margin: 0px;
  border:1px lightgrey solid;
  font-size: 70%;
}
.price{
  background-color: rgb(250 , 250 , 250);
  padding: 10px;
}
.pricewholeflex{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  background-color: rgb(250 , 250 , 250)
}
@media(max-width:1432px){
  .priceone{
    width: 300px;
    height:900px;
    margin: 0px;
    border:1px lightgrey solid;
    font-size: 70%;
  }
}
@media(max-width:1230px){
  .priceone{
    width: 250px;
    height:1000px;
    margin: 0px;
    border:1px lightgrey solid;
    font-size: 70%;
  }
}
@media(max-width:1020px){
  .priceone{
    width: 450px;
    height:350px;
    margin: 100px;
    border:1px lightgrey solid;
    font-size: 70%;
  }
  .restprice{
    display: none;
  }
.small{
  display: none;
}
}
.bgcolour{
  background-color: rgb(240, 241, 242);
  height:20%;
}
.bgcolour2{
  background-color: rgb(243, 250, 254);
  height:20%;
  color: rgb(0, 151, 224);
}
.bgcolour3{
  background-color: rgb(240, 245, 238);
  height:20%;
  color: rgb(95, 190, 30);
}
.bgcolour4{
  background-color: rgb(247, 248, 253);
  height:20%;
  color: rgb(83, 103, 216);
}
.bgcolour h3{
margin-right: 20px;
}
.restprice{
  background-color: rgb(255 , 255, 255);
  height:80%;
}
.restprice h4{
margin-left: 10px;
}
.greencolor{

color: green;
}
*/
.price{
background-color: rgb(245,245,245);
padding: 20px;
}
table{
  margin: auto;
 table-layout: auto;
 width:1000px;
 font-family: "Times New Roman", sans-serif;

 font-weight: bold;
 line-height: 200%;
 text-align: center;
}
th{
	border-top-left-radius:7px;
	border-top-right-radius:7px;
  padding: 5px;
  width:20%;
  background-color: rgb(245,245,245);
  border: lightgrey 2px solid;
}
.greenprice{
  background-color:rgb(242,250,254);
  border-radius: 2px;
  border-top-left-radius:7px;
	border-top-right-radius:7px;
  border: lightgrey 2px solid;
  font-size: 130%;
  color: inherit;
}
.greenprice2{
  background-color:rgb(242,250,254);
  border-radius: 2px;
  border-top-left-radius:7px;
	border-top-right-radius:7px;
  border: lightgrey 2px solid;
  color: rgb(0, 151, 224);
  font-size: 130%;
}
.greenprice3{
  background-color:rgb(242,250,254);
  border-radius: 2px;
  border-top-left-radius:7px;
	border-top-right-radius:7px;
  border: lightgrey 2px solid;
  color: rgb(95, 190, 30);
  font-size: 130%;
}
.greenprice4{
  background-color:rgb(242,250,254);
  border-radius: 2px;
  border-top-left-radius:7px;
	border-top-right-radius:7px;
  border: lightgrey 2px solid;
  color: rgb(83, 103, 216);
  font-size: 130%;
}
table tr:nth-child(even) {
  background-color: rgb(209,235,200);
}
table tr:nth-child(odd) {
  background-color: white;
}
td{
	color: #000000;
  border-radius: 2px;
  padding: 2px;
  width:600px;
  border:2px lightgrey solid;
}
tr , td{
}



tr:hover{
	opacity: 1;
}
th:first-child, td:first-child{
	text-align: left;
}
/*==================function=================*/
.functionflex{
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 140%;
  flex-wrap:wrap;
  font-family: 'harabara'
}
.functionh1{
  font-family: 'harabara';
  text-align: center;
}
.functionh2{
  font-family: 'harabara';
  text-align: center;

}
.functionh3{
  font-family: 'harabara';
  text-align: center;
}

.functionflex .offers .margini{
  margin-right: 10px;
}
.functionflex .offers{
  width: 500px;
  margin: 20px;
  list-style: none;
  flex-wrap:wrap;
}
.functionflex .offers ul li{
  font-style: italic;
  margin-bottom: 25px;
}
.functionpara{
  margin: 0px 150px 20px 150px;
  padding: 0px;
  font-size: 150%;
  color: white;
}
.functionbackgroundimage{

}
.functionh4 , .functionh42{
  font-family: 'harabara';
  margin: 0px;
  padding: 0px;
  position: relative;
  top:50%;
  font-size: 300%;
  text-align: center;
  color:rgb(240,240,240)
}
.functionh42{
}
.wholefunction{
background-image: linear-gradient(to right top, #061c3d, #002c42, #00393c, #254335, #454b37);  background-repeat: no-repeat;
padding: 40px;
background-image: linear-gradient(to right top, #1f2f47, #003d4f, #004949, #215239, #4a572a);
}
/*==================The Team=================*/
.threepeople{
  display: flex;
  justify-content: center;
}
.person1{
  width:300px;
  height:120px;
  margin-left: 50px;
}

.person1 img{
  width: 250px;
  border-radius: 50%;
  padding: 12px;
  display:block;
  margin-left: auto;
  margin-right:auto;

}
/*==================nav bar=================*/
.background-color{
margin-top: 0px;
/* background-color:rgb(96, 186, 76);  */
width: 100%;
height: 50px;
padding: 1px;
position: fixed;
z-index: 10;
background-color: white;
}

.background-color li{
  list-style: none;
  margin-left: 40px;
  float: left;
  font-size: 130%;
    line-height: 50px;
}

p{
  float: right;
  margin-right: 70px;
  font-size: 130%;
  line-height: 50px;
}
.hr{
  position: relative;
  top:33px;
  font-size: 120%;
}

.logoimg{
  width:50%;
  display: block;
  margin: auto;
  margin-top:19%;
}
.logoimgtext{
    margin-bottom: 15vh;
    text-align: center;
    color:#505962;
}
@media(min-width:1200px) {
  .logoimgtext{
      margin-bottom: 1vh;
  }
}
#acolor{
    color:#505962;
}
#downbutton{
  font-size: 150%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  color:#505962;
}
.email{
  width:350px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px;
  background-color: rgb(235,240,241);
  margin-top: 30px;
  margin-right: 0px;
  display: inline-block;
}
.entermain{
  margin-right: 20px;
  display: inline-block;
  width:150px;
  margin: 20px;
  padding: 0px;
  font-size: 130%;
  margin-top: 10px;
  text-align: center;
}

.spansub{
    margin-right: 0px;
  display: inline-block;
  height: 47px;
  width:125px;
  margin-top: 30px;
  border: none;
  outline: none;
  background-color:rgb(96,186,76);;
  padding-top: 7px;
  color: white;
  font-family:sans-serif;
}
.spansub h6{
    font-size: 150%;
    text-align: center;
}
.wholeeneteryouremail{
  display: inline-block;
  margin: 0px;
}
.signup{
display: block;
margin-left: 33%;
}
/*=========================opinions============================*/
.opinions{
  background-color: rgb(246, 246, 246);
  width: 100%;
  height: 250vh;
}
.reviews{
  position: absolute;
  margin: 100px;
  width: 610px;
  height: 53vh;
  background-color:rgb(255, 255, 255);
  background-image: url(qoute.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.reviews3{
  position: absolute;
  margin: 100px;
  margin-top: 920px;
  width: 610px;
  height:  53vh;
  background-color:rgb(255, 255, 255);
  background-image: url(qoute.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.reviews5{
  position: absolute;
  margin: 100px;
  margin-top: 1725px;
  width: 610px;
  height: 53vh;
  background-color:rgb(255, 255, 255);
  background-image: url(qoute.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.reviews2{
  top:510px;
  width: 620px;
  height: 53vh;
  float: right;
  position: relative;
  margin-right: 100px;
  background-color:rgb(255, 255, 255);
  background-image: url(qoute2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.reviews4{
  margin-top:950px;
  width: 620px;
  height: 53vh;
  float: right;
  margin-left: 500px;
  margin-right: 100px;
  background-color:rgb(255, 255, 255);
  background-image: url(qoute2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.reviewh4{
  margin-top: 20%;
  margin-left: 15%;
  margin-right: 10%;
}
.reviewh42{
  margin-top: 25%;
  margin-left: 15%;
  margin-right: 10%;
}
.reviewh43{
  margin-top: 28%;
  margin-left: 15%;
  margin-right: 10%;
}
/*=========================contact form============================*/
.contact-form{
  background-color: white;
}
.name, .mail, .number, .products,.companyname{
  width:400px;
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  font-size: 18px;
  margin-bottom: 16px;
  margin-left: 20px;
  padding:10px;
}
#name, #number{
margin-left:10%
}
@media(max-width:1142px){
  #name, #email{
    margin-left:10%
  }
}
@media(min-width:1300px){
  #name, #email{
    margin-left:20%
  }
}
@media(max-width:940px){
  #name, #email{
    margin-left:2%;
  }
}
@media(max-width:860px){
  #name, #email {
    margin-left:20px;
  }
  .name, .mail, .products, .companyname{
    width: 370px;
  }
}
@media(min-width:1000px){
  .name, .mail, .number, .products{
    margin-left:10%;
  }
}
.products{
  margin-bottom: 16px;
  margin-left: 20px;
}
.send{
  background: transparent;
  color:black;
  font-weight: bold;
  height: 50px;
  margin-top: 20px;
  letter-spacing: 2px;
  width:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px black solid;
  border-radius: 30px;
  transition: 1s ease;

}
.send:hover{
  background: #aaa;
  color: white;
  transform: rotateY(360deg);
}
h1{
  font-size: 250%;
  margin-bottom: 40px;
}


/*============= SLIDER =============*/
.carousel-item{
  height: 100vh;
}


@media(max-width:900px){
  .carousel-caption h1{
    font-size: 2.8rem;
  }
  .carousel-caption h3{
    font-size: 1.3rem;
  }
}
.slider-caption{
  color: white;
  margin-left:40px;
  margin-right: 40px;
  font-size: 150%;
  line-height: 10vh;
}
.slider-caption h3{
position: relative;
top:180px;
}
.slider-caption h1{
  font-size: 3.8rem;
  letter-spacing: .3rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
  position: relative;
  top:340px;
}

.slider-caption h2{
position: relative;
top:200px;
font-size: 200%;
margin-left: 100px;
margin-right: 100px;
text-shadow: .1rem .1rem .8rem black;
}
.slider-caption h4{
position: relative;
top:300px;
font-size: 120%;
margin-left: 100px;
margin-right: 100px;
text-shadow: .1rem .1rem .8rem black;
}
#getstartedbutton{
  position: relative;
  top:330px;
  font-size: 100%;
display: inline-block;
margin: auto;
}
/*============= jumbotron =============*/
.jumbotron{
  padding:3rem 0 2rem;
  border-radius: 0;
}

h3.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.9rem;
}
.heading-underline{
  width:3rem;
  height:.2rem;
  background-color: #1ebba3;
  margin: 0 auto 2rem;
}
/*================================FOOTER======================================*/

.footer img{
  margin: 20px;
  margin-left: 40px;
  margin-bottom: 0px;
}
.footer{
  width:100%;
  height:auto;
  margin: auto;
  background: #272727;
  padding: 20px 0px;
  margin-top: -40px;
  opacity: 1;

}
.footer h4{
  color: white;
  margin-left: 48px;
}

.footer2{
  width:100%;
  height: auto;
  margin:auto;
  margin-bottom:30px;
  margin-top: 0px;
}

 .footer2 ul{
   margin: 0px;
   padding: 0px;
   text-align: center;
 }
.footer2 ul li{
  display: inline-block;
  width:50px;
  height:50px;
  margin:0px 10px;
  border-radius: 100%;
  background:rgb(96,186,76);
  opacity: 1;
}

.footer2 ul li a{
  color: #272727;
  font-size:25px;
  display:block;
  margin-top: 5px;
}
.footer2 ul li a i{
  line-height:50px;
  margin: 0px;
  padding: 0px;
  background-color: rgb(96,186,76);
}

.footer2 ul li:hover{
  background:;
}
.footer2 ul li:hover a{
  color:white;
}

.footer3{
  width:100%;
  height:auto;
  margin: auto;
  margin-top: 20px;
}

.footer3 ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer3 ul li {
  display:inline-block;
  margin: 0px 20px;
}
.footer3 ul li a{
  font-family: arial;
  font-size: 17px;
  font-weight: 600;
  color:white;
  letter-spacing: 1px;
  text-transform: uppercase;

}
.footer3 ul li a:hover{
  color: rgb(96,186,76);
  text-decoration: none;
}

.footer4{
  width:100%;
  height:auto;
  margin: auto;
  margin-top: 10px;
}

.footer4 ul{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.footer4 ul li {
  display:inline-block;
  margin: 0px 20px;
}
.footer4 ul li a{
  font-family: arial;
  font-size: 15px;
  font-weight: 600;
  color:white;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer4 ul li a:hover{
  color: teal;
}
.footer5{
  width:100%;
  height:40px;
  margin: auto;
  background:rgb(96,186,76);
  padding: 10px;
}

.footer5 p{
  font-family: arial;
  font-size: 14px;
  text-align: center;
  color:white;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer5 a{
  color:#fff;
}

.footer5 p a:hover{
  text-decoration: underline;
}
